*{
	margin: 0px;
	padding: 0px;
}

.carousel-item{
	height: 400px;
	background-position: center;
	background-size: cover;
}

.card-noticia{
	width: 18rem;
}

body{
	background-image: linear-gradient(to top, rgb(249, 254, 255), rgb(225, 248, 255));
}


.card img{
	cursor: pointer;
	transition: 0.5s width ease, 0.5s heigth ease;
}

.card img:hover{
	width: 101%;
	height: 101%;
}

.gradient{
	background-image: linear-gradient(rgb(0,0,0), rgb(255, 74, 19));
}
