*{
	margin: 0px;
	padding: 0px;
}

.carousel-item{
	height: 400px;
	background-position: center;
	background-size: cover;
}

.card-noticia{
	width: 18rem;
}


body{
	background-image: linear-gradient(to top, rgb(249, 254, 255), rgb(159, 225, 255));
}

/*breakpoint lg*/
@media (max-width: 992px) {


	.card-noticia{
		width: 100%;
		margin: 5px;
	}
}